<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link href="fontawesome-free-5.5.0-web/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
  <div id="app">
    <div class="header">
        <div class="contoiner header-flex">
            <div class="header-left">
                <a href="index.html" class="logo-brand"><img class="logo-img" src="img/logo.png" alt="logo">BRAN<span>D</span></a>
                <div class="form">
                    <div class="form-text" @click="showBrowse = !showBrowse">Browse<i id="caret-browser" class="fas fa-caret-down"></i>
                       <div class="drop-box drop-box-browse" v-show="showBrowse">
                           <div class="drop-flex ">
                               <div class="drop-heading">WOMAN</div>
                                   <ul class="drop-ul">
                                        <li><a class="drop-link" href="#">Dresses</a></li>
                                        <li><a class="drop-link" href="#">Tops</a></li>
                                        <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                        <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                        <li><a class="drop-link" href="#">Blazers</a></li>
                                        <li><a class="drop-link" href="#">Denim</a></li>
                                        <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                        <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                        <li><a class="drop-link" href="#">Accessories </a></li>
                                   </ul>
                           </div>
                           <div class="drop-flex">
                             <div class="drop-heading">WOMAN</div>
                             <ul class="drop-ul">
                                  <li><a class="drop-link" href="#">Dresses</a></li>
                                  <li><a class="drop-link" href="#">Tops</a></li>
                                  <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                  <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                  <li><a class="drop-link" href="#">Blazers</a></li>
                                  <li><a class="drop-link" href="#">Denim</a></li>
                                  <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                  <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                  <li><a class="drop-link" href="#">Accessories </a></li>
                             </ul>
                           </div>
                       </div>
                    </div>
                    <form action="#" @submit.prevent="filter">
                      <input type="text" class="form-field" v-model="userSerch" placeholder="Search for Item...">
                      <button type="submit" class="form-search"><i  class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="header-right">
              <div class="right-hover">
                <div class="storoller-img" @click="showCart = !showCart">
                  <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                  <!-- <img class="cart-icon" src="img/stroller.svg" alt="stroller"> -->
                  <p class="cartQuantity" v-if="cartItems.length">{{ quantityGoods }}</p>
                </div>
                <div class="drop-box-column" v-show="showCart">
                   <p class="text-cart" v-if="!cartItems.length">No products</p>
                   <div class="drop-caret">
                      <div class="caret-product" v-for="item of cartItems" :key="item.id_product">
                          <img class="caret-product-img" :src="item.imgSrc" alt="siz">
                          <div class="caret-product-discription">
                              <div class="name-discription">{{ item.product_name }}</div>
                              <div class="stars-discription"><img src="img/stars.jpg" alt=""></div>
                              <div class="prise-discription">{{ item.quantity }}   x   ${{ item.price }}</div>
                          </div>
                          <button class="close-botton" @click="remove(item)">&times;</button>
                      </div>
                   </div>
                   <div class="drop-caret total-prise">
                       <div class="total">TOTAL</div>
                       <div class="total">${{ cartPrice }}</div>
                   </div>
                   <div class="drop-caret">
                     <a href="#"class='checkoutcart'>Checkout</a>
                     <a href="#"class='checkoutcart'>Go to cart</a>
                   </div>
                </div>
              </div>   
                <a href="#" class="button">My account<i id="caret-right" class="fas fa-caret-down"></i></a>
            </div>
        </div>
    </div>
    <nav class="navigation">
        <div class="contoiner">
            <ul class="menu">
               <li class="menu-list" @click="navigationHome = !navigationHome">
                <p class="menu-link">Home</p>
                <div class="drop-box" v-show="navigationHome">
                 <div class="drop-flex">
                     <div class="drop-heading">WOMAN</div>
                         <ul class="drop-ul">
                              <li><a class="drop-link" href="#">Dresses</a></li>
                              <li><a class="drop-link" href="#">Tops</a></li>
                              <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                              <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                              <li><a class="drop-link" href="#">Blazers</a></li>
                              <li><a class="drop-link" href="#">Denim</a></li>
                              <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                              <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                              <li><a class="drop-link" href="#">Accessories </a></li>

                         </ul>
                 </div>
                 <div class="drop-flex">
                     <div class="drop-heading">WOMAN</div>
                         <ul class="drop-ul">
                              <li><a class="drop-link" href="#">Dresses</a></li>
                              <li><a class="drop-link" href="#">Tops</a></li>
                              <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                              <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                              <li><a class="drop-link" href="#">Blazers</a></li>
                              <li><a class="drop-link" href="#">Denim</a></li>
                              <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                              <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                              <li><a class="drop-link" href="#">Accessories </a></li>
                         </ul>
                 </div>
                 <div class="drop-flex">
                     <div class="drop-heading">WOMAN</div>
                         <ul class="drop-ul">
                              <li><a class="drop-link" href="#">Dresses</a></li>
                              <li><a class="drop-link" href="#">Tops</a></li>
                              <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                              <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                              <li><a class="drop-link" href="#">Blazers</a></li>
                              <li><a class="drop-link" href="#">Denim</a></li>
                              <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                              <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                              <li><a class="drop-link" href="#">Accessories </a></li>
                         </ul>
                         <div class="drop-ul-img">
                             <p class="drop-ul-text">Super<br>sale!</p>
                         </div>
                 </div>
                </div>
               </li>
               <li class="menu-list" @click="navigationMan = !navigationMan">
                <p class="menu-link">Man</p>
                <div class="drop-box" v-show="navigationMan">
                     <div class="drop-flex">
                         <div class="drop-heading">WOMAN</div>
                             <ul class="drop-ul">
                                  <li><a class="drop-link" href="#">Dresses</a></li>
                                  <li><a class="drop-link" href="#">Tops</a></li>
                                  <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                  <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                  <li><a class="drop-link" href="#">Blazers</a></li>
                                  <li><a class="drop-link" href="#">Denim</a></li>
                                  <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                  <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                  <li><a class="drop-link" href="#">Accessories </a></li>

                             </ul>
                     </div>
                     <div class="drop-flex">
                         <div class="drop-heading">WOMAN</div>
                             <ul class="drop-ul">
                                  <li><a class="drop-link" href="#">Dresses</a></li>
                                  <li><a class="drop-link" href="#">Tops</a></li>
                                  <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                  <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                  <li><a class="drop-link" href="#">Blazers</a></li>
                                  <li><a class="drop-link" href="#">Denim</a></li>
                                  <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                  <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                  <li><a class="drop-link" href="#">Accessories </a></li>
                             </ul>
                     </div>
                     <div class="drop-flex">
                         <div class="drop-heading">WOMAN</div>
                             <ul class="drop-ul">
                                  <li><a class="drop-link" href="#">Dresses</a></li>
                                  <li><a class="drop-link" href="#">Tops</a></li>
                                  <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                  <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                  <li><a class="drop-link" href="#">Blazers</a></li>
                                  <li><a class="drop-link" href="#">Denim</a></li>
                                  <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                  <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                  <li><a class="drop-link" href="#">Accessories </a></li>
                             </ul>
                             <div class="drop-ul-img">
                                 <p class="drop-ul-text">Super<br>sale!</p>
                             </div>
                     </div>
                </div>
               </li>
               <li class="menu-list" @click="navigationWomen = !navigationWomen">
                  <p class="menu-link">Women</p>
                  <div class="drop-box" v-show="navigationWomen">
                   <div class="drop-flex">
                       <div class="drop-heading">WOMAN</div>
                           <ul class="drop-ul">
                                <li><a class="drop-link" href="#">Dresses</a></li>
                                <li><a class="drop-link" href="#">Tops</a></li>
                                <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                <li><a class="drop-link" href="#">Blazers</a></li>
                                <li><a class="drop-link" href="#">Denim</a></li>
                                <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                <li><a class="drop-link" href="#">Accessories </a></li>

                           </ul>
                   </div>
                   <div class="drop-flex">
                       <div class="drop-heading">WOMAN</div>
                           <ul class="drop-ul">
                                <li><a class="drop-link" href="#">Dresses</a></li>
                                <li><a class="drop-link" href="#">Tops</a></li>
                                <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                <li><a class="drop-link" href="#">Blazers</a></li>
                                <li><a class="drop-link" href="#">Denim</a></li>
                                <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                <li><a class="drop-link" href="#">Accessories </a></li>
                           </ul>
                   </div>
                   <div class="drop-flex">
                       <div class="drop-heading">WOMAN</div>
                           <ul class="drop-ul">
                                <li><a class="drop-link" href="#">Dresses</a></li>
                                <li><a class="drop-link" href="#">Tops</a></li>
                                <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                <li><a class="drop-link" href="#">Blazers</a></li>
                                <li><a class="drop-link" href="#">Denim</a></li>
                                <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                <li><a class="drop-link" href="#">Accessories </a></li>
                           </ul>
                           <div class="drop-ul-img">
                               <p class="drop-ul-text">Super<br>sale!</p>
                           </div>
                   </div>
                  </div>
               </li>
               <li class="menu-list" @click="navigationKids = !navigationKids">
                  <p class="menu-link">Kids</p>
                  <div class="drop-box" v-show="navigationKids">
                   <div class="drop-flex">
                       <div class="drop-heading">WOMAN</div>
                           <ul class="drop-ul">
                                <li><a class="drop-link" href="#">Dresses</a></li>
                                <li><a class="drop-link" href="#">Tops</a></li>
                                <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                <li><a class="drop-link" href="#">Blazers</a></li>
                                <li><a class="drop-link" href="#">Denim</a></li>
                                <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                <li><a class="drop-link" href="#">Accessories </a></li>

                           </ul>
                   </div>
                   <div class="drop-flex">
                       <div class="drop-heading">WOMAN</div>
                           <ul class="drop-ul">
                                <li><a class="drop-link" href="#">Dresses</a></li>
                                <li><a class="drop-link" href="#">Tops</a></li>
                                <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                <li><a class="drop-link" href="#">Blazers</a></li>
                                <li><a class="drop-link" href="#">Denim</a></li>
                                <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                <li><a class="drop-link" href="#">Accessories </a></li>
                           </ul>
                   </div>
                   <div class="drop-flex">
                       <div class="drop-heading">WOMAN</div>
                           <ul class="drop-ul">
                                <li><a class="drop-link" href="#">Dresses</a></li>
                                <li><a class="drop-link" href="#">Tops</a></li>
                                <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                <li><a class="drop-link" href="#">Blazers</a></li>
                                <li><a class="drop-link" href="#">Denim</a></li>
                                <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                <li><a class="drop-link" href="#">Accessories </a></li>
                           </ul>
                           <div class="drop-ul-img">
                               <p class="drop-ul-text">Super<br>sale!</p>
                           </div>
                   </div>
                  </div>
               </li>
               <li class="menu-list" @click="navigationAccoseriese = !navigationAccoseriese">
                  <p class="menu-link">Accoseriese</p>
                  <div class="drop-box" v-show="navigationAccoseriese">
                   <div class="drop-flex">
                       <div class="drop-heading">WOMAN</div>
                           <ul class="drop-ul">
                                <li><a class="drop-link" href="#">Dresses</a></li>
                                <li><a class="drop-link" href="#">Tops</a></li>
                                <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                <li><a class="drop-link" href="#">Blazers</a></li>
                                <li><a class="drop-link" href="#">Denim</a></li>
                                <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                <li><a class="drop-link" href="#">Accessories </a></li>

                           </ul>
                   </div>
                   <div class="drop-flex">
                       <div class="drop-heading">WOMAN</div>
                           <ul class="drop-ul">
                                <li><a class="drop-link" href="#">Dresses</a></li>
                                <li><a class="drop-link" href="#">Tops</a></li>
                                <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                <li><a class="drop-link" href="#">Blazers</a></li>
                                <li><a class="drop-link" href="#">Denim</a></li>
                                <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                <li><a class="drop-link" href="#">Accessories </a></li>
                           </ul>
                   </div>
                   <div class="drop-flex">
                       <div class="drop-heading">WOMAN</div>
                           <ul class="drop-ul">
                                <li><a class="drop-link" href="#">Dresses</a></li>
                                <li><a class="drop-link" href="#">Tops</a></li>
                                <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                <li><a class="drop-link" href="#">Blazers</a></li>
                                <li><a class="drop-link" href="#">Denim</a></li>
                                <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                <li><a class="drop-link" href="#">Accessories </a></li>
                           </ul>
                           <div class="drop-ul-img">
                               <p class="drop-ul-text">Super<br>sale!</p>
                           </div>
                   </div>
                  </div>
               </li>
               <li class="menu-list" @click="navigationFeatured = !navigationFeatured">
                  <p class="menu-link">Featured</p>
                  <div class="drop-box" v-show="navigationFeatured">
                   <div class="drop-flex">
                       <div class="drop-heading">WOMAN</div>
                           <ul class="drop-ul">
                                <li><a class="drop-link" href="#">Dresses</a></li>
                                <li><a class="drop-link" href="#">Tops</a></li>
                                <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                <li><a class="drop-link" href="#">Blazers</a></li>
                                <li><a class="drop-link" href="#">Denim</a></li>
                                <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                <li><a class="drop-link" href="#">Accessories </a></li>

                           </ul>
                   </div>
                   <div class="drop-flex">
                       <div class="drop-heading">WOMAN</div>
                           <ul class="drop-ul">
                                <li><a class="drop-link" href="#">Dresses</a></li>
                                <li><a class="drop-link" href="#">Tops</a></li>
                                <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                <li><a class="drop-link" href="#">Blazers</a></li>
                                <li><a class="drop-link" href="#">Denim</a></li>
                                <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                <li><a class="drop-link" href="#">Accessories </a></li>
                           </ul>
                   </div>
                   <div class="drop-flex">
                       <div class="drop-heading">WOMAN</div>
                           <ul class="drop-ul">
                                <li><a class="drop-link" href="#">Dresses</a></li>
                                <li><a class="drop-link" href="#">Tops</a></li>
                                <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                <li><a class="drop-link" href="#">Blazers</a></li>
                                <li><a class="drop-link" href="#">Denim</a></li>
                                <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                <li><a class="drop-link" href="#">Accessories </a></li>
                           </ul>
                           <div class="drop-ul-img">
                               <p class="drop-ul-text">Super<br>sale!</p>
                           </div>
                   </div>
                  </div>
               </li>
               <li class="menu-list" @click="navigationHotDeals = !navigationHotDeals">
                  <p class="menu-link">Hot Deals</p>
                  <div class="drop-box drop-box-last" v-show="navigationHotDeals">
                     <div class="drop-flex">
                         <div class="drop-heading">WOMAN</div>
                             <ul class="drop-ul">
                                  <li><a class="drop-link" href="#">Dresses</a></li>
                                  <li><a class="drop-link" href="#">Tops</a></li>
                                  <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                  <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                  <li><a class="drop-link" href="#">Blazers</a></li>
                                  <li><a class="drop-link" href="#">Denim</a></li>
                                  <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                  <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                  <li><a class="drop-link" href="#">Accessories</a></li>
                             </ul>
                     </div>
                     <div class="drop-flex">
                         <div class="drop-heading">WOMAN</div>
                             <ul class="drop-ul">
                                  <li><a class="drop-link" href="#">Dresses</a></li>
                                  <li><a class="drop-link" href="#">Tops</a></li>
                                  <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                  <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                  <li><a class="drop-link" href="#">Blazers</a></li>
                                  <li><a class="drop-link" href="#">Denim</a></li>
                                  <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                  <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                  <li><a class="drop-link" href="#">Accessories </a></li>

                             </ul>
                     </div>
                     <div class="drop-flex">
                         <div class="drop-heading">WOMAN</div>
                             <ul class="drop-ul">
                                  <li><a class="drop-link" href="#">Dresses</a></li>
                                  <li><a class="drop-link" href="#">Tops</a></li>
                                  <li><a class="drop-link" href="#">Sweaters/Knits</a></li>
                                  <li><a class="drop-link" href="#">Jackets/Coats</a></li>
                                  <li><a class="drop-link" href="#">Blazers</a></li>
                                  <li><a class="drop-link" href="#">Denim</a></li>
                                  <li><a class="drop-link" href="#">Leggings/Pants</a></li>
                                  <li><a class="drop-link" href="#">Skirts/Shorts</a></li>
                                  <li><a class="drop-link" href="#">Accessories </a></li>

                             </ul>
                     </div>
                  </div>
               </li>  
            </ul>
        </div>
    </nav>
    <div class="name-page">
        <div class="contoiner arrivals">
            <div class="arrivals-left">New Arrivals </div>
            <div><a class="arrivals-right" href="index.html">Home</a> / <a class="arrivals-right" href="product.html">WOMAN</a> / <a class="arrivals-right pink" href="#">New Arrivals</a></div>
            
        </div>
    </div>
    <div class="shopping">
        <div class="contoiner shopping-basket">
            <div class="shopping-row">
                <div class="shopping-column">
                    <div class="shopping-row-text">Product Details</div>
                    <div class="shopping-row-text">unite Price</div>
                    <div class="shopping-row-text">Quantity</div>
                    <div class="shopping-row-text">shipping</div>
                    <div class="shopping-row-text">subtotal</div>
                    <div class="shopping-row-text">action</div>
                </div>
                <div class="shopping-column">
                    <div class="shopping-row-content">
                        <img class="shopping-row-img" src="img/productman2.jpg" alt="productshop">
                        <div class="shopping-row-imgText">
                            <p class="img-Text-top">Mango  People  T-shirt</p>
                            <p class="img-Text-bottom">Color:<span class="text-span">Red</span></p>
                            <p class="img-Text-bottom">Size:<span class="text-span">Xll</span></p>
                        </div>
                    </div>
                    <div class="shopping-row-content content-flex-centr">
                        $150
                    </div>
                    <div class="shopping-row-content content-flex-centr">
                        <form action="handler.php">
                            <input type="number" name="QUANTITY" value="1" min="1" max="100" step="1">
                        </form>
                    </div>
                    <div class="shopping-row-content content-flex-centr">FREE</div>
                    <div class="shopping-row-content content-flex-centr">$300</div>
                    <div class="shopping-row-content content-flex-centr"><a href="#" class="close-botton"><i class="fas fa-times-circle"></i></a></div>
                </div>
                <div class="shopping-column">
                    <div class="shopping-row-content">
                        <img class="shopping-row-img" src="img/productman4.jpg" alt="productshop">
                        <div class="shopping-row-imgText">
                            <p class="img-Text-top">Mango  People  T-shirt</p>
                            <p class="img-Text-bottom">Color:<span class="text-span">Red</span></p>
                            <p class="img-Text-bottom">Size:<span class="text-span">Xll</span></p>
                        </div>
                    </div>
                    <div class="shopping-row-content content-flex-centr">
                        $150
                    </div>
                    <div class="shopping-row-content content-flex-centr">
                        <form action="handler.php">
                            <input type="number" name="QUANTITY" value="1" min="1" max="100" step="1">
                        </form>
                    </div>
                    <div class="shopping-row-content content-flex-centr">FREE</div>
                    <div class="shopping-row-content content-flex-centr">$300</div>
                    <div class="shopping-row-content content-flex-centr"><a href="#" class="close-botton"><i class="fas fa-times-circle"></i></a></div>
                </div>
                <div class="shopping-column">
                    <div class="shopping-row-content">
                        <img class="shopping-row-img" src="img/productman6.jpg" alt="productshop">
                        <div class="shopping-row-imgText">
                            <p class="img-Text-top">Mango  People  T-shirt</p>
                            <p class="img-Text-bottom">Color:<span class="text-span">Red</span></p>
                            <p class="img-Text-bottom">Size:<span class="text-span">Xll</span></p>
                        </div>
                    </div>
                    <div class="shopping-row-content content-flex-centr">
                        $150
                    </div>
                    <div class="shopping-row-content content-flex-centr">
                        <form action="handler.php">
                            <input type="number" name="QUANTITY" value="1" min="1" max="100" step="1">
                        </form>
                    </div>
                    <div class="shopping-row-content content-flex-centr">FREE</div>
                    <div class="shopping-row-content content-flex-centr">$300</div>
                    <div class="shopping-row-content content-flex-centr"><a href="#" class="close-botton"><i class="fas fa-times-circle"></i></a></div>
                </div>
            </div>
            <div class="shop-box-botton">
                <a href="#" class="botton-shopbasket">CLEAR SHOPPING CART</a>
                <a href="#" class="botton-shopbasket">CONTINUE SHOPPING</a>
            </div>
            <div class="purchase">
                <div class="purchase-flex">
                    <p class="shopping-row-text">shipping adress</p>
                    <form action="">
                        <label for="shopAdress" class="shopAdress">
                            <input class="shopAdress-input" type="text" placeholder="Bangladesh">
                            <input class="shopAdress-input" type="text" placeholder="State">
                            <input class="shopAdress-input" type="text" placeholder="Postcode Zip">
                            <input type="submit" class="get-a-quote" value="get a quote">
                    </label>
                    </form>
                </div>
                <div class="purchase-flex">
                     <p class="shopping-row-text">coupon discount</p>
                     <p class="coupon-discount">Enter your coupon code if you have one</p>
                    <form action="">
                        <label for="shopAdress" class="shopAdress">
                            <input class="shopAdress-input" type="text" placeholder="State">
                            <input type="submit" class="get-a-quote" value="get a quote">
                    </label>
                    </form>
                </div>
                <div class="proceed-to-checkout purchase-flex">
                    <div class="proceed-checkout">
                        <p class="checkout-text-min">Sub total         $900</p>
                        <p class="checkout-text-max">GRAND TOTAL      <span class="pink"> $900</span></p>
                    </div>
                    <a href="#" class="button-proceed-checkout">proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footArticle">
        <div class="contoiner contoiner-flex">
            <div class="article-left">
                <div class="article-left-img"></div>
                <div class="article-left-text">
                    <p class="comment-top">“Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”</p>
                    <p class="comment-bottom">Bin Burhan</p>
                    <p class="PS">Dhaka, Bd</p>
                    <div class="line">
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                </div>
            </div>
            <div class="article-right">
                <div class="article-right-centre">
                    <div class="article-right-top">
                        <p class="article-right-textTop">SUBSRIBE</p>
                        <p class="article-right-textBottom">FOR OUR NEWLETTER AND PROMOTION</p>
                    </div>
                    <div class="article-right-mail">
                        <input type="email" class="address-mail" placeholder="Enter Your Email">
                        <button type="submit" class="button-mail">
                            Subscribe
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="companyInfo">
    <div class="contoiner contoiner-info">
            <div class="info-flex-big">
                 <a href="index.html" class="logo-brand"><img class="logo-img" src="img/logo.png" alt="logo">BRAN<span>D</span></a>
                <div class="text-info">
                    <p class="text-info-top">Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships. </p>
                    <p class="text-info-top">Efficiently plagiarize 24/365 action items and focused infomediaries. Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.</p>
                </div>
            </div>
            <div class="info-flex">
                <div class="header-info">
                    COMPANY</div>
                <div class="text-info">
                   <ul class='info-list'>
                       <li><a class="text-info-link" href="index.html">Home</a></li>
                       <li><a class="text-info-link" href="product.html">Shop</a></li>
                       <li ><a class="text-info-link" href="#">About</a></li>
                       <li ><a class="text-info-link" href="#">How It Works</a></li>
                       <li ><a class="text-info-link" href="newarrivals.html">Contact</a></li>
                   </ul>   
                </div>
            </div>
            <div class="info-flex">
                <div class="header-info">
                    INFORMATION</div>
                <div class="text-info">
                   <ul class='info-list'>
                       <li><a class="text-info-link" href="#">Tearms &amp; Condition</a></li>
                       <li><a class="text-info-link" href="#">Privacy Policy</a></li>
                       <li ><a class="text-info-link" href="#">How to Buy</a></li>
                       <li ><a class="text-info-link" href="#">How to Sell</a></li>
                       <li ><a class="text-info-link" href="#">Promotion</a></li>
                   </ul>   
                </div>
            </div>
            <div class="info-flex">
                <div class="header-info">
                    SHOP CATEGORY</div>
                <div class="text-info">
                   <ul class='info-list'>
                       <li><a class="text-info-link" href="product.html">Men</a></li>
                       <li><a class="text-info-link" href="womanproduct.html">Women</a></li>
                       <li ><a class="text-info-link" href="#">Child</a></li>
                       <li ><a class="text-info-link" href="index.html">Apparel</a></li>
                       <li ><a class="text-info-link" href="index.html">Brows All</a></li>
                   </ul>   
                </div>
            </div>
    </div>
    </div>
    <footer>
        <div class="contoiner foot-flex">
            <div class="copyright">&copy; 2017  Brand  All Rights Reserved.</div>
            <div class="contacts">
                <a href="#">
                   <div class="mark"><i class="fab fa-facebook-f" ></i></div> 
                </a>
                <a href="#">
                <div class="mark"><i class="fab fa-twitter" ></i></div>
                </a>
                <a href="#">
                   <div class="nomark"><i class="fab fa-youtube" ></i></div> 
                </a>
                <a href="#">
                    <div class="mark"><i class="fab fa-pinterest-p"></i></div>
                </a>
                <a href="#">
                    <div class="mark"><i class="fab fa-instagram"></i></div>
                </a>
            </div>
        </div>
    </footer>
  </div>
  <script src="js/vue.js"></script>
  <script src="js/components.js"></script>
  <script src="js/productcomp.js"></script>
  <script src="js/cartcomp.js"></script>
</body>
</html>